body {
    background-image: url(../images/qbkls.png);
    margin: 0;
}

.container {
    height: 100%;
    margin-bottom: 100px;
}

/* Start of CSS for Header */

.wrapper {
    background-color: white;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
}

/* CSS wrapper margin for only Portfolio Page */
#wrapper {
    margin-bottom: 16px;
}

.navbar.navbar-expand-lg.navbar-light.bg-white {
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 241px;
    padding-right: 241px;
}

.navbar-fluid {
    margin-right: 0;
    padding: 25px 40px 25px 40px;
    background-color: #4aaaa5;
}

#navbarNavAltMarkup {
    padding-top: 8px;
    padding-bottom: 8px;
}

.name {
    margin-bottom: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
} 

/* CSS for heading links */
.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left:17px;
    padding-right: 17px;
    border-right: 1px solid #cccccc;
}

#contactLink {
    border-right: none;
    padding-right: 0px;
}

/* CSS to make text change when mouse hovers over */
.navbar-light .navbar-nav .nav-link.active {
    color: #4aaaa5;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #777777;
}

/* End of all CSS for Header */

/* Start of CSS for About Me Page */

.row {
    margin-left: 75px;
    margin-right: 75px;
    background-color: white;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

#aboutMeLastRow {
    border-bottom: 1px solid #dddddd;
}

/* CSS for the main body heading */
.col-lg-12 {
    border-top: 1px solid #dddddd;
    padding-left: 30px;
    padding-right: 30px;
}

/* CSS for the gray line */
.divdingLine {
    margin: 19px 14px 18px 14px;
    border: 0px;
    background-color: #cccccc;
    height: 3px;
}

/* CSS for bio picture */
#selfImg {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* CSS for main body content */
.col-lg-9 {
    padding-right: 30px;
        font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
    font-size: 18px;
}

.aboutMe, .contact, .portfolio {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 38px;
}

/* CSS for the embended links */
.teams:link {
    color: #777777;
}

.teams:visited {
    color: #777777;
}

.teams:hover {
    color: #4aaaa5;
}

.teams:active {
    color: #4AC199;
}

/* End of CSS for About Me Page */

/* Start of CSS for Porfolio Page */

.img-fluid {
    width: 275px;
    height: 207px;
}

#imageGrid {
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right:0px;
}

/* Adds space between header and body */
#firstRow {
    padding-top: 22px;
    padding-bottom: 3px;
}
#lastRow {
    border-bottom: 1px solid #dddddd;
}

.carousel-caption {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 275px;
    left: 9.4%;
    bottom: 56px;
    padding-top: 14px;
    padding-bottom: 13px;
}

/* End of CSS for Portfolio Page */

/* Start of CSS for Contact Page */

#formBox {
    border-top: none;
    border-bottom: 1px solid #dddddd;
}
form {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
    font-size: 18px;
}

input, textarea {
    width: 97.5%;
    padding: 10px;
    border: 1px solid #cccccc;
    font-size: 14px;
}

/* CSS for the Submit button */
.btn.btn-primary {
    background-color: #4aaaa5;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 10px 40px;
    margin-bottom:25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0;
}

.btn-primary:not(:disabled):not(.disabled):active:active {
    position: relative;
    background-color: #4aaaa5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(5px);
    border: none;
    outline: none;
}

.btn-primary:focus {
    background-color: #4aaaa5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    outline: none;  
}

.btn.btn-primary:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    outline: none;
}

/* End of CSS for Contact Page */

/* CSS for Sticky Footer */
.card {
    position: fixed;
    border: none;
    border-radius: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    z-index: 999;
}


@media screen and (max-width: 1199px) {
    .navbar.navbar-expand-lg.navbar-light.bg-white {
        padding-left: 211px;
        padding-right: 208px;
    }

    .carousel-caption {
        width: 229px;
        left: 11.8%;
    }
}

@media screen and (max-width: 991px) {
    .navbar.navbar-expand-lg.navbar-light.bg-white {
       padding-left: 227px;
       padding-right: 225px; 
    }

    .carousel-caption {
        width: 89.1%;
        left: 5.6%;
        font-size: 45px;
        bottom: 65px;
    }

    .img-fluid {
        width: 94.3%;
        height: 375px;
    }
}

@media screen and (max-width: 767px) {
    .navbar.navbar-expand-lg.navbar-light.bg-white {
        padding-left: 205px;
        padding-right: 203px;
    }

    .navbar-fluid {
        padding: 15px 15px 15px 15px;
    }

    .name {
        font-size: 20px;
    }

    .img-fluid {
        width: 91.3%;
        height: 200px;
    }

    .carousel-caption {
        font-size: 25px;
        left: 8.5%;
        width: 83.5%;
        bottom: 60px;
    }
}

@media screen and (max-width: 575px) {
    .navbar.navbar-expand-lg.navbar-light.bg-white {
        padding-left: 90px;
        padding-right: 90px;
    }

    .carousel-caption {
        left: 7.7%;
        width: 84.2%;
    }
}
