body {
    background-image: url(../images/qbkls.png);
    margin: 0;
}

.container {
    height: 100%;
    margin-bottom: 70px;
}

/* Start of CSS for Header */

.wrapper {
    background-color: white;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 40px;
}

.navbar.navbar-expand-lg.navbar-light.bg-white {
    width: 960px;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    margin-right: 0;
    padding: 25px 40px 25px 40px;
    background-color: #4aaaa5;
    
}

#navbarNavAltMarkup {
    padding-top: 8px;
    padding-bottom: 8px;
}

.name {
    margin-bottom: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 700;
}

/* CSS for heading links */
.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left:17px;
    padding-right: 17px;
    border-right: 1px solid #cccccc;
}

#contactLink {
    border-right: none;
    padding-right: 0px;
}

/* CSS to make text change when mouse hovers over */
.navbar-light .navbar-nav .nav-link.active {
    color: #4aaaa5;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: underline;
    color: #777777;
}

/* End of all CSS for Header */

/* Start of CSS for About Me Section */

.row {
    width: 960px;
    margin: auto;
    background-color: white;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

/* CSS for the main body heading */
.col-lg-12 {
    border-top: 1px solid #dddddd;
    padding-left: 30px;
    padding-right: 30px;
}

/* CSS for the gray line */
.divdingLine {
    margin: 19px 14px 18px 14px;
    border: 0px;
    background-color: #cccccc;
    height: 3px;
}

/* CSS for bio picture */
.col-lg-3 {
    padding-left: 30px;
}

/* CSS for main body content */
.col-lg-9 {
    padding-right: 30px;
        font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
    font-size: 18px;
}

.aboutMe, .contact {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 38px;
}

/* CSS for the embended links */
.teams:link {
    color: #777777;
}

.teams:visited {
    color: #777777;
}

.teams:hover {
    color: #4aaaa5;
}

.teams:active {
    color: #4AC199;
}

/* End of CSS for About Me Section */

/* Start of CSS for Contact Section */

#formBox {
    border-top: none;
    border-bottom: 1px solid #dddddd;
}
form {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    line-height: 2;
    font-size: 18px;
}

input, textarea {
    width: 97.5%;
    padding: 10px;
    border: 1px solid #cccccc;
    font-size: 14px;
}

/* CSS for the Submit button */
.btn.btn-primary {
    background-color: #4aaaa5;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 10px 40px;
    margin-bottom:25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0;
}

.btn-primary:not(:disabled):not(.disabled):active:active {
    position: relative;
    background-color: #4aaaa5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(5px);
    border: none;
    outline: none;
}

.btn-primary:focus {
    background-color: #4aaaa5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    outline: none;  
}

.btn.btn-primary:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    outline: none;
}